* {
    margin: 0;
}

body {
    background-color: lightblue;
}

h1 {
    color: red;
    background-color: darkmagenta;
    margin-bottom: 20px;
    margin-top: 20px;
}

#header3 {
    color: royalblue;
}

.text-coral {
    color: coral;
}
